<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiross' Portfolio</title>
</head>
<body>
    <h1>My Biography</h1>
    <p>My name is Kiros. I have Bachlors on Electrical and computer engineering.I have been working diligently to advance my 
        emplyoment opportunities by enrolling on bootcamp acadamy and techincal colleges.So far, I have developed skills of troubleshooting of hardware and software componets of electrical engineering.
    Recently, I gradauted from CodingDojo as full-stack developer of python and MERN programing languages.
    Now, I am able to develop and troubleshoot softwares using the skilles I enhanced from the bootcamp acadamy
I am actively looking for job as a full-stack developer, software engineer </p>
</body>
</html>