
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiross' Bio</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
<header style="display: flex; justify-content: space-around; background-color: lightslategray;">
    <img src="../static/images/profile-picture.png" alt="Kiros Haftu" class="profile-img">
    <h1>Kiros Haftu</h1>
    <p>Web Developer, Programmer, and Tech Student</p>
    <p>Follow me on social media:</p>
    <p>
        <a href="https://github.com/Key12-max"
        target="_blank">Github</a> |
        <a href="https://www.linkedin.com/in/kiros-haftu/"
        target="_blank">LinkedIn</a>
    </p>
</header>
<main>
    <section class="bio">
        <h2>About me</h2>
        <p>Hello! I am Kiros, A full-stack Web Developer using  python, and MERN programing languages.
            I have Bachlors on Electrical and computer engineering.I have been working diligently to advance my 
        emplyoment opportunities by enrolling on bootcamp acadamy and techincal colleges.So far, I have developed skills of troubleshooting of hardware and software componets of electrical engineering.
    Recently, I gradauted from CodingDojo as full-stack developer of python and MERN programing languages.
    Now, I am able to develop and troubleshoot softwares using the skilles I enhanced from the bootcamp acadamy.
    I am actively looking for job as a full-stack developer, software engineer
        </p>
    </section>
    <section class="projects">
        <h2>Projects</h2>
        <ul>
            <li><a href="https://github.com/RTUNSTALLjr/group_3">Project One</a></li>
            <li><a href="https://github.com/Key12-max/soloProject">Project Two</a></li>
            <li><a href="https://github.com/Key12-max/Python/tree/main/fundamentals/portfolio_website">Project Three</a></li>
            <!-- Add more list items as needed -->
        </ul>
    </section>
    <section id="contact">
        <h2>Contact Me</h2>
        <form id="contact-form">
            <!-- Input fields for the contact form -->
            <input type="text" id="name" name="name"
            placeholder="Your Name" required>
            <input type="email" id="email" name="email"
            placeholder="Your Email" required>
            <textarea id="message" name="message"
            placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </section>
</main>


<footer>
    <p>&copy; 2023 My Portfolio</p>
</footer>
</body>
</html>

