<!--Add a form that allows the user to specify the increment of the counter and have the counter increment accordingly-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter</title>
</head>
<body>
<form action="/form" method="post">
    <label for="fname">Enter the increament value</label><br>
    <input type="number" id="fname" name="number" ><br>
    <input type="submit" id="lname" name="lname" value="submit">
    </form>

</body>
</html>